<section>
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput"> ¿Qué toca hacer hoy? </label>

  <input
    #newItem
    placeholder="Añadir una tarea gonorrea"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button
    class="btn-primary"
    (click)="addItem(newItem.value); newItem.value = ''"
  >
    Añadir
  </button>
  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'todas'"
      (click)="filter = 'todas'"
    >
      Todas
    </button>
    <button
      class="btn btn-menu"
      [class.active]="filter == 'activas'"
      (click)="filter = 'activas'"
    >
      Activas
    </button>
    <button
      class="btn btn-menu"
      [class.active]="filter == 'listo!!'"
      (click)="filter = 'listo!!'"
    >
      Listo!
    </button>
  </div>

  <h2>
    {{ items.length }}
    @if (items.length ===1) { item } @else { items }
  </h2>
  <ul>
    @for (item of items; track $index) {
    <li><app-item (remove)="remove(item)" [item]="item"></app-item></li>
    }
  </ul>
</section>
