<section>
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput"> ¿Qué toca hacer hoy? </label>

  <input
    #newItem
    placeholder="Añadir una tarea gonorrea"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button
    class="btn-primary"
    (click)="addItem(newItem.value); newItem.value = ''"
  >
    Añadir
  </button>
  <h2>
    {{ items.length }}
    @if (items.length ===1) { item } @else { items }
  </h2>
  <ul>
    @for (item of items; track $index) {
    <li><app-item (remove)="remove(item)" [item]="item"></app-item></li>
    }
  </ul>
</section>
